.hero {
	background-image: url('../assets/bg-image.png');
	width: 100%;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	.hero__content {
		background-color: #f4f3f3;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 730px;
		height: 350px;
		button {
			padding: 8px 46px;
			background-color: #56b280;
			border: 1px solid transparent;
			font-size: 20px;
			font-weight: 500;
			color: #fff;
			width: 50%;
			margin-top: 45px;
			transition: 0.5s ease-in-out;
			&:hover {
				background-color: #fff;
				border: 1px solid #56b280;
				color: #56b280;
				cursor: pointer;
			}
		}
	}
}
